*.xlsx
*.csv

Monit_Mensagens/
Acomp_Mensagens/
Monitoramento/
tests/__pycache__/
tests/tratamento/__pycache__/
tests/extracoes/__pycache__/
notebooks/
src1/
\dist
\build
.vscode
requirements_clean.txt
requirements.txt
src/__pycache__/
src/pages/__pycache__/
src/carregamento/__pycache__/
src/extracoes/__pycache__/
src/models/__pycache__/
src/models/base/__pycache__/
src/controllers/__pycache__/
src/views/__pycache__/