*.xlsx
*.csv

Monit_Mensagens/
Monitoramento/
tests/
src1/
\dist
\build
.vscode
requirements_clean.txt
requirements.txt
src/__pycache__/
src/pages/__pycache__/
src/tratamento/__pycache__/
src/models/__pycache__/
src/controllers/__pycache__/
src/views/__pycache__/